{% extends "base.html" %}

{% block body %}
	<div class="container">
		<h2>Notifications</h2>
		{%if notifications%}
			<a href="{% url 'notification_readAll' %}" id="allRead" role='button' class="btn btn-outline-success mx-auto my-4">
			Mark all as read</a>
		{%endif%}
		{%for i in notifications_all%}
			{% if i.type == 'liked' %}
				{% include "userpage/snippets/likednotif.html" %}
			{% elif i.type == 'followed' %}
				{% include "userpage/snippets/followednotif.html" %}
			{% elif i.type == 'postdelete' %}
				{% include "userpage/snippets/postdeletenotif.html" %}
			{% endif %}
		{%empty%}
		<p>No notifications</p>
		{%endfor%}
	</div>
{% endblock body %}

{% block js %}
	<script type="text/javascript">
		$('.read').click(function(e) {
			e.preventDefault()
			var href = this.href
			$.ajax({
				url: href,
				success : data =>{
					$(this).fadeOut('1000')
				}
			})	
		});
		$('.delete').click(function(e) {
			e.preventDefault()
			var href = this.href
			$.ajax({
				url: href,
				success : data =>{
					$(`#${this.id}`).fadeOut('1000')
				}
			})	
		});
		$('#allRead').click(function(e) {
			e.preventDefault()
			var href = this.href
			$.ajax({
				url: href,
				success : data =>{
					$(this).fadeOut('1000')
					$('.read').fadeOut('1000')
				}
			})	
		});
	</script>
{% endblock js %}