{%extends 'base.html'%}

{% block css %}
	.profilePic {
	border-radius : 50%;
	height : 100px;
	width : 100px;
}
{% endblock css %}

{%block body%}
	<div class="container my-4 ">
		{%for i in object_list%}
			<div class="card my-2">			
				<div class="card-body">
					<h5><img src="{{i.profile.user_image.url}}" class="card-img profilePic align-self-start">{{i.username}}</h5>
					<p>Followers : {{i.follower.count}}   Following : {{i.followed.count}}</p>
					<p>
					{% for main in request.user.follower.all  %}
						{% for showing in i.follower.all %}
							{% if main == showing %}
								{{main}},
							{% endif %}
						{% endfor %}
					{% endfor %}
					</p>
					<a role='button' href="{% url 'userProfile' i %}" class="btn btn-outline-primary">View</a>
				</div>
			</div>
		{%empty%}
			<h1>No such user found!!</h1>
		{%endfor%}
		{% if is_paginated %}
			<a href="?page=1" role='button' class="btn btn-outline-primary">First</a>
			{% if page_obj.has_previous %}
				<a href="?page={{page_obj.previous_page_number}}" role='button' class="btn btn-outline-primary">
				{{page_obj.previous_page_number}}</a>
			{% endif %}

			{% if page_obj.number != 1 %}
				<a href="?page={{page_obj.number}}" role='button' class="btn btn-success">{{page_obj.number}}</a>
			{% endif %}
			

			{% if page_obj.has_next %}
				<a href="?page={{page_obj.next_page_number}}" role='button' class="btn btn-outline-primary">
				{{page_obj.next_page_number}}</a>
			{% endif %}
		{% endif %}
	</div>
{%endblock%}